In [1]:
print("WELCOME TO SYMBIOSIS")

WELCOME TO SYMBIOSIS

In [11]:
a = float(input("Enter a number : "))

Enter a number : 10

In [12]:
print(a)

10.0

In [13]:
type(a)

float

In [14]:
l1 = [1,2,3,4,5]

In [15]:
print(l1)

[1, 2, 3, 4, 5]

In [16]:
l2=l1
print(l2)

[1, 2, 3, 4, 5]

In [17]:
l3=[1,2,3,4,5]
print(l3)

[1, 2, 3, 4, 5]

In [18]:
# objects when initialized have different memory location even if they have same data elements
print(id(l1),id(l2),id(l3))

2665679048320 2665679048320 2665679048448

In [19]:
t1=(1,2,3)
t2=t1
t3=(1,2,3)
print(id(t1),id(t2),id(t3))

2665679372672 2665679372672 2665679395776

In [20]:
t4=(1)

In [21]:
###### intresting
type(t4)

int

In [22]:
#tuples are iterable so depends on that comma
t5=(1,)

In [23]:
type(t5)

tuple

In [24]:
l4 = [1]
type(l4)

list

In [25]:
# firstly we wrote a program for printing output then we taken the input from user but to take the input in exact datatype , we 
# take the input from user throigh user function, then we created list and tuple types , the we seen that even if two variables 
# will have same elements but their ids of memory location are different one but if we firstly made then by equal as l1=l2 then 
#they are equal and then we learnt that tuple without comma with single element is not a tuple but an integer and we must give 
#comma after first element to make it tuple.

In [26]:
# we must use meaningful variable/ literals while programming to understand it later

In [27]:
print(l1[:])

[1, 2, 3, 4, 5]

In [28]:
print(l1[:-1])

[1, 2, 3, 4]

In [29]:
# we should not give comma while slicing if given it will convert to tuple
print(l1[-1:])

[5]

In [30]:
# python is powerful garbage manner:
# why we can handle all datatypes in list .
l5 = [1,'jayant',10.10]
t5 = (1,'jayant',10.1)
l6 = [1,'jayant',10.1,(1,'jayant',10.10)]
t6 = (1,'jayant',10.1,[1,'jayant',10.1])
t7 = (t5,l5)

In [31]:
# nested / 2-d indexing
print(t6[3][1])

jayant

In [32]:
t8 = (1,2,3)

In [34]:
# immutable - type error i.e. item assignment
#t8[2] = 5

In [36]:
l8 = [1,2,3]
#l8[4]=6
# out of range index

In [ ]:
# In this we learnt index slicing and we learnt that tuple is created only when we give comma after first element and if we give 
#only one element is parenthesis it is not tuple but it is only int.also we learnt nested indexing after that we learnt mutable 
#and immutable indexing.Then some errors are seen .